$def with (content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->
   <title>$web.config.site_config.site_name</title>

    <!-- Bootstrap core CSS -->
    <link href="$web.config.site_config.static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="$web.config.site_config.static/css/sticky-footer.css" rel="stylesheet">
    <link href="$web.config.site_config.static/css/user.plusdo.css" rel="stylesheet">
    <link href="$web.config.site_config.static/css/user.plusdo.theme.css" rel="stylesheet">

	<script src="$web.config.site_config.static/js/jquery.js"></script>
	<script src="$web.config.site_config.static/js/bootstrap.min.js"></script>
	
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">	
          $if ctx.get('user') is not None:
          	<h5 class="pull-right">欢迎：$ctx.user.u_name  <a href="/account/logout">退出</a></h5>
          $else:
          	<h5 class="pull-right"><a href="/account/login">登录</a> <a href="/account/register">注册</a></h5>
          <h3><a href="/">$web.config.site_config.site_name</a></h3>
          <h5><small>$web.config.site_config.site_desc</small></h5>
        </div>
        $:content
      </div>
    </div> 
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        Copyright&copy; $web.config.site_config.site_name
         <a href="http://www.plusdo.com/">waile23</a>
        &nbsp;
        <a href="http://webpy.org/" target="_blank"><img src="$web.config.site_config.static/images/webpy_ss.png" alt="powered by web.py" /></a>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>